sudo: required
language: python
python:
  - 2.6
  - 2.7
  - 3.3
  - 3.4
  - 3.5
services:
  - docker
before_install:
  - sudo docker pull centos:7
install:
  - if [[ $TRAVIS_PYTHON_VERSION == 2.6* ]]; then pip install -r requirements/python2.6.txt; fi
  - pip install coveralls
  - python setup.py -q install
script:
  - nosetests -v -w nfsinkhole --include=docker --with-coverage --cover-package=nfsinkhole
  - sudo docker run --name nfsinkholevm -it centos:7 bash
  - sudo docker exec -d nfsinkholevm touch /tmp/nfsinkholevm
  - docker ps -a | grep nfsinkholevm
  - sudo docker cp $TRAVIS_BUILD_DIR nfsinkholevm:/root/nfsinkhole
  - sudo docker exec -d nfsinkholevm /bin/sh -c "ls -al /root/nfsinkhole"
after_success:
  - coveralls --rcfile=.coveragerc
